.filter-list {
  margin-right: 20px;

  &__button {
    background-color: #fff;
    color: #7f2982;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Oxanium";
    margin-right: 5px;

    &:hover {
      background-color: #f7b2b7;
    }

    &.active {
      background-color: #f7b2b7;
    }
  }

  @media only screen and (max-width: 768px) {
    .filter-list {
      margin: 10px 0;

      &__button {
        margin: 7px;
        border-radius: 4px;
      }
    }
  }
}
