@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap");
.card {
  background-color: white;
  border-radius: 20px;

  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;

  width: 350px;
  height: 350px;
  font-family: "oxanium";
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

  &:hover {
    transform: scale(1.05);
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
  }

  &__title {
    font-size: 1.2rem;
    font-family: "oxanium";
    color: #ec4c58;
    text-align: center;
    margin-bottom: 8px;
  }

  &__image {
    width: 200px;

    max-height: 150px;
  }

  &__tagline {
    color: #ec4c58;
    font-size: 1.2rem;
    text-align: center;
    margin: 12px 0;

    font-family: "Happy Monkey", cursive;
  }

  &__link {
    margin-top: auto;
    padding: 10px;
    background-color: #de639a;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    width: 100%;
    height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #f7b2b7;
    }
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}
