@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap");

.navbar {
  background-color: #7f2982;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;

  h1 {
    margin: 0;
    font-size: 1.5rem;
    font-family: "Oxanium";
    color: #f7b2b7;
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;

    h1 {
      margin-bottom: 10px;
    }
  }
}
